:root {
   --color-primary-teal: #59C8E0;
   --color-primary-gray: #f8f8f8;
   --color-secondary-basic: #178ea8;
   --color-secondary-lighter: #59c8e0;
   --color-secondary-link: #9ce4f2;
   --color-secondary-link-lighter: #E0FAFF;
   --color-ink-link-teal: #E0FAFF;
   --color-ink-basic: #E0FAFF;
   --color-ink-ligh: #E0FAFF;
   --color-ink-lighter: #E0FAFF;
   --color-background-lighter: #E0FAFF;
   --color-background-footer: #E0FAFF;
   /* --font-main:  */
}